---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro fetch">
  <main>
   <div>
    <ul>
      <li>Home</li>
      <li>Products</li>
      <li>Characters</li>
    </ul>
   </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
